h1 {
  margin: 10px 0 10px 0;
  font-size: 36px;
}

h2 {
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("../public/Background.png");
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  height: 100vh;
  width: 30vw;
  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
  font-family: "Noto Serif Khmer", serif;
  color: white;
  font-size: 36px;
  overflow-y: auto;
}

.sidebar-menu {
  height: 20vh;
}

.sidebar-container {
  height: 75vh;
  border: 1px solid yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  color: white;
  overflow-y: scroll;
}

.headline-container {
  margin-top: 10%;
  border: 1px solid greenyellow;
  text-align: left;
  font-family: "Noto Serif Khmer", serif;
  color: white;
}

.text-container {
  margin-top: 70vh;
  font-family: "Noto Serif Khmer", serif;
  font-size: 18px;
  color: white;
}

.img-container {
  height: 100vh;
  width: 70vw;
  position: relative;
  border: 1px solid orange;
  margin: 0 5% 0 0%;
  flex-grow: 3;
  color: white;
}

.img1 {
  position: absolute;
  top: 10%;
  left: 70%;
  z-index: 0;
}

.img2 {
  position: absolute;
  bottom: 10%;
  right: 70%;
  z-index: 1;
  transform: rotate(3deg);
}

.img3 {
  position: absolute;
  bottom: 15%;
  left: 20%;
  z-index: 2;
  transform: rotate(-4deg);
}

.img4 {
  position: absolute;
  top: 35%;
  right: 5%;
  z-index: 3;
  transform: rotate(1deg);
  border: 0.5px solid black;
}

.img5 {
  position: absolute;
  bottom: 40%;
  right: 30%;
  z-index: 4;
  transform: rotate(-2deg);
}

.img6 {
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 5;
  transform: rotate(1deg);
}

.img7 {
  position: absolute;
  bottom: 48%;
  left: 5%;
  z-index: 6;
}

.img8 {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 7;
}

.false {
  visibility: hidden;
}

.true {
  visibility: visible;
}
