h1 {
  margin: 10px 0 10px 0;
  font-size: 36px;
}

h2 {
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("../public/Background.png");
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  display: flex;
  flex-flow: row nowrap;
  /* opacity: 0.90; */
}

.sidebar {
  height: 100vh;
  width: 30vw;
  border: 1px solid white;
  display: flex;
  flex-flow: column wrap;
  font-family: "Noto Serif Khmer", serif;
  color: white;
  font-size: 36px;
  overflow-y: auto;
}

.sidebar-menu {
  height: 20vh;
}

.sidebar-container {
  height: 75vh;
  border: 1px solid yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  color: white;
  overflow-y: scroll;
}

.headline-container {
  margin-top: 10%;
  border: 1px solid greenyellow;
  text-align: left;
  font-family: "Noto Serif Khmer", serif;
  color: white;
}

.text-container {
  margin-top: 70vh;
  font-family: "Noto Serif Khmer", serif;
  font-size: 18px;
  color: white;
}

.img-container {
  height: 100vh;
  width: 70vw;
  border: 1px solid orange;
  margin: 0 5% 0 0%;
  flex-grow: 3;
  color: white;
}
